<table border="1" width="30%">
  <tr>
    <td>The numbers of Armstrong<%=@result %></td>
  </tr>
  <tr>
    <td>Quantity: <%= @count %></td>
  </tr>
</table>
<%= link_to 'Repeat read', tasks_input_path %>
<%= link_to 'Sign out', signout_path%>